accelerate==0.28.0
activations==0.1.0
bitsandbytes==0.41.1
datasets==2.13.1
detoxify==0.5.2
ekphrasis==0.5.4
empath==0.89
evaluate==0.4.1
file_utils==0.0.1
GPUtil==1.4.0
GPUtil==1.4.0
huggingface_hub==0.11.1
keras==2.11.0
nltk==3.4.5
numpy==1.21.6
pandas==1.0.1
peft==0.9.0
psutil==5.6.7
scikit_learn==1.0.2
scipy==1.7.3
syllables==1.0.9
tensorflow==2.11.0
torch==1.13.1
torch_xla==2.2.0
tqdm==4.66.1
transformers==4.28.1
